{% extends 'base.html' %}
 
 {% block title %}
     Blog - Login
 {% endblock title %}
     

{% block content %}

<div class="row mt-2">
    <div class="col-8 col-sm-6 mx-auto">
    <h4>Login</h4>
    </div>
</div>

<div class="row">
    <div class="col-8 col-sm-6 mx-auto">
        <div class="card card-body">
                            
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
    
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors  %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                
                                {% for error in form.email.errors  %}
                                    <span>{{error}}</span>
                                {% endfor %}
                                    
                            </div> 
                        {% else %} 
                        {{ form.email(class="form-control form-control-lg") }}          
                        {% endif %}   
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }} 
                        {% if form.password.errors  %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                
                                {% for error in form.password.errors  %}
                                    <span>{{error}}</span>
                                {% endfor %}
                                    
                            </div> 
                        {% else %} 
                        {{ form.password(class="form-control form-control-lg") }}          
                        {% endif %}  
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input")}}
                        {{ form.remember.label(class="form-check-label")}}
                    </div>
                    <div class="form-group mt-2">
                        {{ form.submit(class="btn btn-info btn-sm")}}
                    </div>
                    <small text-muted>
                        <a href=" {{ url_for('request_password_reset') }} ">Forgot Password?</a>
                    </small>
                </form>
            </div>
    </div>
    
</div>


<div class="row ">
    <div class=" col-8 col-sm-6 mx-auto pt-2">
        <small class="text-muted">
            Don't Have An Account?
            <a class="ml-1" href="{{ url_for('register')}}">Register</a>
        </small>
    </div>
    
</div>


{% endblock content %}
    